/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html {
    max-width: 1920px;
    min-width: 428px;
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, p, a, i {
    text-decoration: none;
}

h1 {
    font-size: 7.5rem;
    display:flex;
    align-items: center;
    justify-content: center;
    color:rgb(225, 239, 230);
    padding: 5rem;
}

h2 {
    font-size: 6rem;
    display:flex;
    align-items: center;
    justify-content: center;
    color:rgb(225, 239, 230);
    padding: 5rem 1rem 3rem;
}

.ürünfiyat{
    display: flex;
    justify-content: space-between;
    width: 20vw;
}
.headerdiv{
    background-color:rgb(0, 4, 17,0.7);
}

h3 {
    font-size: 5rem;
}

h4 {
    font-size: 4rem;
    display: flex;
    justify-content: space-between;
   
}

p, a {
    font-size: 3rem;
}

/* header section */
header {
    width: 100%;
    height: 100vh;
    background-image: url('../img/menu-header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.container2{
    display:flex;
    justify-content: space-evenly;   
   }
   
   .container2 a{
       color: white;
   }

   .about-container .text {
    width: 50%;
    color: white;
}

   
/* spacer */
.spacer {
    width: 100%;
    height: 20vh;
    background-color: rgb(0, 4, 17);
}
.spacer-sm {
    width: 100%;
    
    background-color: rgb(0, 4, 17);
}

/* menu */

.menu {
    width: 100%;
    height: auto;
    background-image: url('../img/staff-bartender.jpg');
    background-color: rgb(0, 4, 17, .8);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color:white;
}
 .menu h2{
    display:flex;
    justify-content: center;
    background-color: rgb(0, 4, 17, .8);
 }

 .social{
    display: flex;
    justify-content: center;
    padding:5rem;
    
    }

 .fiyatlı{
    padding:1rem;
 }

 .corbasalata{
    max-width: 40%;
 }

 .icecekler{
    max-width: 40%;
 }
 .Aperatifler{
    max-width: 40%;
 }
 .mezeler{
    max-width: 40%;
 }
 .tatlılar{
    max-width: 40%;
 }

.menuler{
    display:flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    padding:15rem;
    gap:9rem;
    background-color: rgb(0, 4, 17, .8)
    }




/* footer section */
footer {
    width: 100%;
    height: 15vh;
    font-size: 3rem;
}

.social a{
    width:10rem;
    color:white;
    padding:2rem;
    margin:2rem;
    font-size: 7rem;
      }

      .uyeol {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      
      .maill {
        display: flex;
        align-items: center;
     
      }
      
      form {
        display:flex;
        flex-direction:row;
        margin-right: 0.5rem;
        width:27rem;
        
      }

     input {
      display: flex;
      height: 4rem;
      width:23rem;
      }
      
      button {
        display:flex;
        margin-left: 0.5rem;
        width:8rem;
      }

      .footercontainer{
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        background-color: rgb(0, 4, 17, .8);
        
    }
    
    .footercontainer a{
        color:rgb(225, 239, 230);
    }
    .footercontainer{
        background-color: rgb(0, 4, 17);
        display:flex;
        justify-content: space-between;
        color:white;
       
     }
.copp{
    display: flex;
    flex-direction: column;
}

/* mobile media query */
@media (max-width: 428px) {
    /* header section */
    .header-title {
        width: 75%;
        margin: 0 auto;
        text-align: center;
        font-size: 4rem;
    }
    .container2 {
        display: flex;
        flex-direction: column;
        padding: 0;
        width: auto;
      }
      h1{
        display: flex;
        justify-content: center;
       font-size: 3.5rem;
    }

    /* menu */
    .menu {
        background-image: none;
    }

    .social{
        display: flex;
        flex-direction: column;
        padding: 0;
        width: auto;
    }
    /* footer section */
    footer {
        height: auto;
         font-size: 2rem;
    }
}
